__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/
*.swp
*.swo

# Visual Studio
.vs/
*.user
*.suo
*.sdf
*.opensdf
*.vcxproj.user
bin/
obj/
Debug/
Release/
x64/
*.log

# CMake / Linux Build
build/
.cache
compile_commands.json

# just in case
ai_assistant.cfg